
:root{
  
  
  --textcolor:#363e42 ;
  --background: #313649 ;
  /* --blocks:#d6eeea7e; */
  --blocks:linear-gradient(170deg , #e8f3f234 , #e8f3f2f8);
  
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  
  }
  
  
  
  header{
    width: 30em;
    background-color: transparent;
    border-radius: 20px;
    width: 50em;
   
    
  }
  .card{
    width: 30em;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: transparent;
    border-radius: 20px;
    padding:20px;
    text-align: center;
  }
  
  hr{
    width: 30em;
  }
  
  body{
    background: linear-gradient(180deg, #90b7ca, #d8b395);
    color: var(--textcolor);
    min-height: 1200px;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding:1em;
    text-align: center;
      width: 50em; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
    align-content: center;
  }
  
  

  
  .localstoragediv{
    width: 30em;
    margin-bottom: 1em;

  }

 #displayToday{ 
  margin-top: 2em;
  margin-bottom: 6em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 20px;
  text-align: center;
  /* background-color: var(--blocks); */
  background: var(--blocks);
  width: 30em;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
} 


img{
  width: 124px
  }
  
 #fiveDayBlocks {
  border-radius: 20px;
  /* background-color: var(--blocks); */
  background: var(--blocks);
  margin-top: .5em ;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      padding: .5em;
 }

 button{                                                       /*history buttons*/
  border-radius: .5em;
  background-color: #1e3d4d80;
  background: linear-gradient(170deg ,#1e3d4d38 , #1e3d4d3b);
  border-style: none;
  margin: .1em;
  padding: .5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-weight: 700;
  letter-spacing:.07em;
  color: #d1dce6bd;
 }

 #search{
  border-radius: 4em;
  background: linear-gradient(170deg , #ecf0ef46 , #e8f3f2);
  border-style: none;
  margin: .1em;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 400;
  letter-spacing:normal;
  color:var(--textcolor)
  
 }

 #clearSearches{
  border-radius: 2em;
  background: linear-gradient(170deg , #ecf0ef46 , #e8f3f2);
  font-weight: 400;
  border-style: none;
  margin: .1em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  letter-spacing:normal;
  color:var(--textcolor)
 }


 button:hover {
  transform: scale(1.02);
  /* transition: transform 0.5s  */
}
 input{
  border-radius: .4em;
  padding: .5em;
  border-style: none;
  background: linear-gradient(170deg , #ecf0ef46 , #e8f3f2);
 }

 h6{
  color:#363e4242 ;
 }